<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
		<typeAlias type="www.wordking.com.VO.Users" alias="Users" />
		<typeAlias type="www.wordking.com.VO.Notice" alias="Notice" />
		<typeAlias type="www.wordking.com.VO.Faq" alias="Faq" />	
		<typeAlias type="www.wordking.com.VO.Word" alias="Word" />
		<typeAlias type="www.wordking.com.VO.Voca" alias="Voca"/>
		<typeAlias type="www.wordking.com.VO.Inquiry" alias="Inquiry"/>		
		</typeAliases>
	<mappers>
		<mapper resource="mapper/UsersMapper.xml" />
		<mapper resource="mapper/CsMapper.xml" />
		<mapper resource="mapper/WordMapper.xml" />
	</mappers> 
</configuration>
