<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="www.wordking.com.Mapper.VocaMapper">
	<insert id="insertVoca" parameterType="Voca">
	<selectKey keyProperty="seq" resultType="java.lang.Integer" order="BEFORE">
	(SELECT NVL(MAX(SEQ),0)+1 FROM wk_vocabularies)
	</selectKey>
	INSERT INTO wk_vocabularies
	(
		SEQ,
		USER_SEQ,
		CATEGORY_SEQ,
		TITLE
		,CONTENTS
		,VISIBLE
	) VALUES(
		(SELECT NVL(MAX(SEQ),0)+1 FROM wk_vocabularies),
		(SELECT TO_NUMBER(SEQ) FROM WK_USERS WHERE userId = #{userid}),
		#{category_seq},
		#{title},
		#{contents},
		#{visible}
	)
	
	</insert>
	<update id="insertImage" parameterType="Voca">
		UPDATE wk_vocabularies
			SET
			IMAGE = #{image}
		WHERE
			SEQ = (SELECT MAX(SEQ) FROM wk_vocabularies)
	</update>
	
	<select id="totalSearch" parameterType="String" resultType="Voca">
		select DISTINCT 
            s.seq ,
			s.category_seq, 
			s.title , 
			u.userid userid
		from 
			wk_vocabularies s,
			WK_USERS U
        where s.USER_SEQ = u.seq and
            s.title like '%'||#{search_value}||'%' 
	</select>
	
	<select id="MySearch" parameterType="Voca" resultType="Voca">
		select DISTINCT 
            s.seq ,
			s.category_seq, 
			s.title , 
			u.userid userid
		from 
			wk_vocabularies s,
			WK_USERS U
        where s.USER_SEQ = u.seq and
            s.title like '%'||#{title}||'%'  and
            u.userid = #{userid}
	</select>
	
	<select id="myVoca" parameterType="Voca" resultType="Voca">
		select 
			seq,
			(select seq from wk_users where userid = #{userid}) user_seq, 
			category_seq, 
			title , 
			(select userid from wk_users where userid = #{userid}) userid
		from 
			wk_vocabularies
		where
			user_seq = (select seq from wk_users where userid = #{userid})
	</select>
	
</mapper>