<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="www.wordking.com.Mapper.WordMapper">
	<insert id="insertVocaList" parameterType="Word">
	INSERT INTO WK_VOCALIST
		(
			SEQ,
			VOCA_SEQ,
			WORD_SEQ
		) VALUES(
			(SELECT NVL(MAX(SEQ),0)+1 FROM WK_VOCALIST),
			(SELECT MAX(SEQ) FROM wk_vocabularies),
			(SELECT MAX(WORD_SEQ)  FROM WK_WORDS)
		)
	</insert>

	<insert id="insertWord" parameterType="Word">
		insert into wk_words(
			word_seq,
		    word,
		    meaning,
		    user_seq
		)
		values(
			(SELECT NVL(MAX(word_seq),0)+1 FROM wk_words),
			#{word},
			#{meaning},
			(select seq from WK_USERS where userId = #{userId})	
		)
	</insert>
	
	<select id="searchVoca" parameterType="Voca" resultType="Voca">
		select 
			seq,
			(select seq from wk_users where userid = #{userid}) user_seq, 
			category_seq, 
			title , 
			(select userid from wk_users where userid = #{userid}) userid
		from 
			wk_vocabularies
		where
			user_seq = (select seq from wk_users where userid = #{userid})
	</select>
	
	<select id="testDetail" parameterType="Voca" resultType="Word">
		select 
			W.word_seq word_seq, 
			W.WORD word, 
			W.MEANING meaning, 
			u.userid userid, 
			V.REGISTERDATE registerdate, 
			V.UPDATEDATE updatedate, 
			S.TITLE title
		from 
			wk_vocalist V,
			wk_vocabularies S,
			WK_WORDS W,
			WK_USERS U
		where 
			1 >= ROWNUM and
			V.VOCA_SEQ = S.SEQ AND 
			S.USER_SEQ = (select seq from wk_users where userid = #{userid}) and 
			v.word_seq = w.word_seq and 
			S.SEQ = #{seq}
	</select>
	
	<select id="startTest" resultType="Word">
		select 
			W.word_seq word_seq, 
			W.WORD word, 
			W.MEANING meaning,  
			V.REGISTERDATE registerdate, 
			V.UPDATEDATE updatedate, 
			S.TITLE title
		from 
			wk_vocalist V,
			wk_vocabularies S,
			WK_WORDS W
		where 
			V.VOCA_SEQ = S.SEQ AND 
			v.word_seq = w.word_seq and 
			S.SEQ = #{seq}
			order by  word_seq asc
	</select>
	
	<select id="Random" resultType="Word">
		select 
			W.word_seq word_seq, 
			W.WORD word, 
			W.MEANING meaning,  
			V.REGISTERDATE registerdate, 
			V.UPDATEDATE updatedate, 
			S.TITLE title
		from 
			wk_vocalist V,
			wk_vocabularies S,
			WK_WORDS W
		where 
			V.VOCA_SEQ = S.SEQ AND 
			v.word_seq = w.word_seq and 
			S.SEQ = #{seq}
			ORDER BY dbms_random.value
	</select>
	
	<select id="MeanTest" resultType="Word">
		select 
			W.word_seq word_seq, 
			W.WORD meaning, 
			W.MEANING word,  
			V.REGISTERDATE registerdate, 
			V.UPDATEDATE updatedate, 
			S.TITLE title
		from 
			wk_vocalist V,
			wk_vocabularies S,
			WK_WORDS W
		where 
			V.VOCA_SEQ = S.SEQ AND 
			v.word_seq = w.word_seq and 
			S.SEQ = #{seq}
			order by  word_seq asc
	</select>
	
	<select id="RanMean" resultType="Word">
		select 
			W.word_seq word_seq, 
			W.WORD meaning, 
			W.MEANING word, 
			V.REGISTERDATE registerdate, 
			V.UPDATEDATE updatedate, 
			S.TITLE title
		from 
			wk_vocalist V,
			wk_vocabularies S,
			WK_WORDS W
		where 
			V.VOCA_SEQ = S.SEQ AND 
			v.word_seq = w.word_seq and 
			S.SEQ = #{seq}
			ORDER BY dbms_random.value
	</select>
	
	<select id="showdetail" resultType="Word">
		select 
			W.word_seq word_seq, 
			W.WORD word, 
			W.MEANING meaning ,
			V.REGISTERDATE registerdate, 
			V.UPDATEDATE updatedate, 
			S.TITLE title
		from 
			wk_vocalist V,
			wk_vocabularies S,
			WK_WORDS W
		where 
			V.VOCA_SEQ = S.SEQ AND 
			v.word_seq = w.word_seq and 
			S.SEQ = #{seq}
	</select>
</mapper>